In [14]:
#Project_Dice_test.py
from unittest import mock
import unittest
from Monte_Carlo_Simulator import Die, Game, Analyzer
'''
class test_objectSuite(unittest.TestCase):
    """
    This class is for testing the Project_Dice.py file and it corresponding classes and methods.
    From unittest - mock will allow for inputs made by a user to be preset for testing.
    """
    @mock.patch('Project_Dice.input', create=True)
    
    #Die()
    def test_1_new_weight(self, mocked_input):
        
        mocked_input.side_effect = ['1,2,3', '1.5']
        
        test_object = Die()
        test_object.new_weight() #The mocked_input.side_effect is the input values 1,2,3 for the Faces selected then the input is 1.0 for what to change the weights of the faces too.
        
        default = Die()

        self.assertNotEqual(test_object.df.loc[1,'Weight'], default.df.loc[1,'Weight'])
        
    def test_2_die_roll(self):
        
        test_object = Die()
        
        self.assert
    
        
if __name__ == '__main__':
    
    unittest.main()
'''

'\nclass test_objectSuite(unittest.TestCase):\n    """\n    This class is for testing the Project_Dice.py file and it corresponding classes and methods.\n    From unittest - mock will allow for inputs made by a user to be preset for testing.\n    """\n    @mock.patch(\'Project_Dice.input\', create=True)\n    \n    #Die()\n    def test_1_new_weight(self, mocked_input):\n        \n        mocked_input.side_effect = [\'1,2,3\', \'1.5\']\n        \n        test_object = Die()\n        test_object.new_weight() #The mocked_input.side_effect is the input values 1,2,3 for the Faces selected then the input is 1.0 for what to change the weights of the faces too.\n        \n        default = Die()\n\n        self.assertNotEqual(test_object.df.loc[1,\'Weight\'], default.df.loc[1,\'Weight\'])\n        \n    def test_2_die_roll(self):\n        \n        test_object = Die()\n        \n        self.assert\n    \n        \nif __name__ == \'__main__\':\n    \n    unittest.main()\n'

In [15]:
Case1 = Die()
Case1.show_data(2)

In [7]:
Case1 = Game([Case1])
Case1

In [8]:
Case1 = Analyzer(Case1)
Case1