In [71]:
#Dice Creation
"Requied installations include Pandas and NumPy and Random"
import numpy as np
import pandas as pd
import random

class Die():
    """
    This class is for creating a 100 sided (or less) die stored as a Pandas Dataframe. The number of faces and weights of the die will be adjustable to allow for the die to be used as any other die that has less than 100 sides. 
    The die can also be customized by the weight to allow for either a fair sided die or a unfairly distributed die.
    
    The inputs for this class will be the number of sides for the die, the weight for each side (by grouping), and the return will be a usable die for another class however you can still roll a die with this class.
    
    Each face of the die will show a unique number associated with that side and its corresponding weight in a Pandas DataFrame created with a NumPy Array.
    """

    def __init__(self, faces = np.arange(1,101)):
        """
        __init__: This intializer will serve to create the DataFrame, set the initial Face count to 100 unless otherwise fed an Numpy Array, and Weight distribution to 1.0 evenly.
                  It will also set the faces to the index of the DataFrame as Faces.
        inputs: self; faces: will default to a Numpy Array of 1-100
        returns: No return values
        """
        self.faces = faces
        
        if isinstance(faces, np.ndarray) == False:
            raise TypeError("faces object must be of data type NumPy array and nothing else.")
        
        if np.unique(faces).size != len(faces):
            raise ValueError("The values in the numpy array faces must be distinct values.")
        
        _df = pd.DataFrame({'Faces': self.faces, 'Weight': list(1.0 for i in range(len(self.faces)))}).set_index('Faces')
        self._df = _df
        
    def new_weight(self): 
        """
        new_weight: This method has user input questions used to decide which Faces to change weights for. It will then adjust the weights held for those Faces within the DataFrame.
        inputs: self
        returns: No return values.
        """
        chg_face = [int(x.strip()) for x in input("Which face would you like to change the weight? note: All faces have a default weight of 1.0.\nEnter the information in a comma seperated numerical list.").split(",")] #Can take a list of faces to change weights for.
        for i in chg_face:  #Checking each value in chg_face list
            if not(i in self._df.index.unique(level='Faces')):
                raise IndexError("A value entered for face selection is not in the array of 1 to 100.")
        weight = float(input("What would you like the new weight to be?")) #Getting input for weight then converting to float, if float fails, value error if non-numerical.
        if not type(weight) is float:
            raise TypeError("Convert to float did not work, please enter a number.")
        #Replacing the axisting weights with the new weight.
        for i in chg_face:
            self._df.loc[i, 'Weight'] = weight
        print(f"Faces {chg_face} have a new weight of {weight}.")
    
    
    def die_roll(self, rolls = 1):
        """
        die_roll: This method is used for rolling the create die using the DataFrame holding the data and a Random function random.choices to produce a random Face.
                  The default version does not internall store the results, however the internally stored version is commented out if otherwise wanted.
        inputs: self; rolls: default to 1.
        returns: An instance of rolling the die a number of times.
        """
#Not stored version
        return [random.choices(self._df.index, self._df.Weight) for i in range(rolls)] 
        
#Internally stored version
#        results = []
#        for i in range(rolls):
#            roll = random.choices(self._df.index, self._df.Weight)
#            results.append(roll)
#        return results
        
    def show_data(self, highlight = False):
        """
        show_data: This method is for displaying the full table of data with its Faces and their corresponding weights with changes highlighted along with a dataframe returned value.
                   A custom function highlight_row() will also highlight any weights that do not have the default value of 1.
        inputs: self; highlight: default value is False andmethod returns a dataframe, any other input returns a display of the data and highlighted rows.
        returns: A fully laid out copy of the private DataFrame if highlight = False, otherwise returns a display of the data and highlighted rows.
        """
        if highlight == False:
            return self._df.copy()
        
        pd.set_option('display.max_rows', None)   #Condition to display all rows
        def highlight_row(_df, threshold, column): #Function created to be used to highlight a specific row red if there a number not equal to default 1.0
            is_max = pd.Series(data=False, index=_df.index)
            is_max['Weight'] = _df.loc['Weight'] != threshold
            return ['background-color: red' if is_max.any() else '' for v in is_max]
        display(self._df.copy().style.apply(highlight_row, threshold=1, column='Weight', axis=1)) #Diplsaying dataframe and highlighted rows

In [73]:
Test1 = Die()
Test1.show_data()
#isinstance(Test1.show_data(), type(pd.DataFrame()))

       Weight
Faces
1         1.0
2         1.0
3         1.0
4         1.0
5         1.0
6         1.0
7         1.0
8         1.0
9         1.0
10        1.0
11        1.0
12        1.0
13        1.0
14        1.0
15        1.0
16        1.0
17        1.0
18        1.0
19        1.0
20        1.0
21        1.0
22        1.0
23        1.0
24        1.0
25        1.0
26        1.0
27        1.0
28        1.0
29        1.0
30        1.0
31        1.0
32        1.0
33        1.0
34        1.0
35        1.0
36        1.0
37        1.0
38        1.0
39        1.0
40        1.0
41        1.0
42        1.0
43        1.0
44        1.0
45        1.0
46        1.0
47        1.0
48        1.0
49        1.0
50        1.0
51        1.0
52        1.0
53        1.0
54        1.0
55        1.0
56        1.0
57        1.0
58        1.0
59        1.0
60        1.0
61        1.0
62        1.0
63        1.0
64        1.0
65        1.0
66        1.0
67        1.0
68        1.0
69        1.0
70        1.0
71        1.0
72        1.0
73        1.0
74        1.0
75        1.0
76        1.0
77        1.0
78        1.0
79        1.0
80        1.0
81        1.0
82        1.0
83        1.0
84        1.0
85        1.0
86        1.0
87        1.0
88        1.0
89        1.0
90        1.0
91        1.0
92        1.0
93        1.0
94        1.0
95        1.0
96        1.0
97        1.0
98        1.0
99        1.0
100       1.0

In [18]:
chg_face = [int(x.strip()) for x in input("Which face would you like to change the weight? note: All faces have a default weight of 1.0.\nEnter the information in a comma seperated numerical list.").split(",")] #Can take a list of faces to change weights for.
chg_face

Which face would you like to change the weight? note: All faces have a default weight of 1.0.
Enter the information in a comma seperated numerical list. 1, 2,   3,   5,6

[1, 2, 3, 5, 6]

In [6]:
Test1.show_data()